button {
    border: none;
    transition: all $transition-primary;
    cursor: pointer;

    &[disabled] {
        color: map-get($colours, 'white');
    }
}

.btn {
    line-height: 1;
    padding: $site-spacing/2;
    border: 1px solid;
    border-radius: $border-radius-primary;
    text-align: center;
    box-sizing: border-box;

    &--social {
        display: block;
    }

    /**
     * Create styling for each button
     */
    $buttons: 'primary', 'secondary', 'danger';

    @each $button in $buttons {
        &--#{$button} {
            $colour: map-get($colour-button, $button);

            color: $colour;
            border-color: $colour;

            &:hover {
                color: map-get($colours, 'white');
                background-color: $colour;
            }
        }
    }

    /**
     * Create styling for each social network button
     */
    $networks: 'facebook', 'linkedin', 'twitter', 'google-plus', 'github';

    @each $network in $networks {
        &--#{$network} {
            $colour: map-get($colours, #{$network});
            $colour-active: map-get($colours, 'white');

            color: $colour;
            border-color: $colour;

            &:hover {
                color: $colour-active;
                background-color: $colour;
            }
        }
    }
}
