code {
    font-family: inherit;
    font-size: 1.8rem;
    line-height: 1.6;

    p & {
        user-select: all;
        padding: $site-spacing/4 $site-spacing/2;
        font-family: $font-family-secondary;
        background-color: $colour-background;
        border: $border-alternative;
        border-radius: 5px;
    }
}
