%link {
    &--primary {
        padding-bottom: 2px;
        border-bottom: $border-primary;

        &:hover {
            border-bottom: $border-secondary;
        }
    }

    &--secondary {
        color: $colour-secondary;
        padding: 3px;
        background-color: rgba($colour-secondary, 0.05);

        &:hover {
            background-color: rgba($colour-secondary, 0.15);
        }
    }
}
