textarea {
    overflow: auto;
    resize: none;
    padding: $site-spacing*0.75;
    width: 100%;
    transition: border $transition-secondary;
    box-sizing: border-box;

    &[aria-invalid="true"] {
        border-color: map-get($colour-alert, 'danger');
    }
}
