.landing {
    &__heading {
        font-weight: 400;
        margin-bottom: $spacing;

        span {
            font-family: $font-family-secondary;
            font-weight: 700;
        }
    }

    &__subheading {
        @extend h1;
    }
}
