includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:

    level: 5

    paths:
        - app
        - database
        - routes

    ignoreErrors:
        - '#Undefined variable: \$this#'

        - path: database/seeders/*
          message: '#Call to an undefined method#'

        - path: app/Http/Controllers/NewsletterSubscriptionController.php
          message: '#Call to an undefined static method#'

    checkMissingIterableValueType: false

    reportUnmatchedIgnoredErrors: false

