.profile-image {
    @apply relative;

    img {
        filter: grayscale(100%);
    }

    &::before {
        @apply absolute top-0 left-0 w-full h-full bg-blue-700;

        content: '';
        transform: rotate(4deg);
    }
}
