input {
    &[type="text"],
    &[type="email"],
    &[type="number"],
    &[type="password"],
    &[type="tel"] {
        padding: $site-spacing*0.75;
        width: 100%;
        transition: border $transition-secondary;
        box-sizing: border-box;
        border: none;

        &.input {
            &--small {
                padding: 2px $site-spacing/2;
            }
        }

        &[aria-invalid="true"] {
            border-color: map-get($colour-alert, 'danger');
        }
    }

    &[type="number"] {
        -moz-appearance: textfield;

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
            margin: 0;
        }
    }

    &[type="checkbox"] {
        display: inline-block;
        margin: 0;
    }
}
