pre {
    tab-size: 4;
    box-sizing: border-box;
    margin: $site-spacing*3 0;
    padding: $site-spacing*2;
    font-family: $font-family-secondary;
    border: $border-alternative;
    border-radius: 5px;
    position: relative;

    &::before {
        @extend small;

        position: absolute;
        top: $site-spacing;
        right: $site-spacing;
        text-transform: uppercase;
    }

    /**
     * Set pre language based on class
     */
    $languages: 'html', 'css', 'scss', 'js';

    @each $language in $languages {
        .language-#{$language} & {
            &::before {
                content: '#{$language}';
            }
        }
    }
}
