.site__aside {
    h3 {
        margin-bottom: $site-spacing*1.5;
    }

    ul {
        &:not(:last-of-type) {
            margin-bottom: $site-spacing*3;
        }
    }

    li {
        display: block;
        color: $colour-font-medium;
        transition: all $transition-primary;

        &:not(:last-of-type) {
            margin-bottom: $site-spacing/5;
        }

        /**
         * Article category / tag count
         */
        span {
            margin-left: 2px;
        }

        a {
            display: inline-block;

            /**
             * Aside current page
             */
            &[aria-current="page"] {
                font-weight: $font-weight-secondary;
            }

            &:hover {
                transform: translateX(1px);
            }
        }
    }
}
