.site__footer {
    @extend small;

    margin: $site-spacing*5 0 $site-spacing*3;

    ul {
        display: flex;
    }

    li {
        &:nth-last-child(2) {
            margin-left: auto;
        }

        &:not(:last-child) {
            margin-right: $site-spacing;
        }
    }
}
