.article-share {
    margin-bottom: $site-spacing*2;

    &__heading {
        display: inline-block;
        margin-bottom: $site-spacing*1.5;
    }

    &__social {
        li {
            display: inline-block;

            &:not(:last-of-type) {
                margin-right: $site-spacing/2;
            }
        }

        .btn-social {
            display: block;
        }
    }
}
