.article {
    margin: 0 auto;
    max-width: $max-line-length;

    &__header {
        margin-bottom: $site-spacing*3;

        small {
            display: block;
        }
    }

    &__categories {
        margin-bottom: $site-spacing/2;
    }

    &__category {
        a {
            @extend small;

            padding: $site-spacing/3 $site-spacing/2;
            line-height: 1;
            border: 1px solid currentColor;
            border-radius: 20px;
        }
    }

    &__title {
        margin-bottom: $site-spacing/2;
    }

    &__posted-on {
        color: $colour-font-light;
    }

    &__footer {
        margin-top: $site-spacing*5;
    }
}
