/*
|--------------------------------------------------------------------------
| Site
|--------------------------------------------------------------------------
|
| General application-wide styling should be placed here.
|
*/

body {
    color: map-get($colours, 'white');
    background: linear-gradient(to right, #ff6258, #ff7155);
}

.site {
    display: flex;
    flex-direction: column;
    height: 100vh;
    padding: $spacing*4;

    @include below('small') {
        padding: $spacing*2;
    }
}
