.article-overviews {
    display: flex;
    flex-wrap: wrap;
}

.article-overview {
    display: flex;
    flex-direction: column;
    width: calc(50% - #{$site-spacing});
    background-color: white;
    box-shadow: $box-shadow-primary;
    border-radius: $border-radius-primary;
    padding: $site-spacing*2;
    box-sizing: border-box;

    &:nth-child(odd) {
        margin-right: $site-spacing*2;
    }

    &:not(:nth-last-child(-1n+2)) {
        margin-bottom: $site-spacing*2;
    }

    &__header {
        margin-bottom: $site-spacing;
    }

    &__categories {
        margin-bottom: $site-spacing;

        li {
            display: inline-block;

            &:not(:last-of-type) {
                margin-right: $site-spacing/2;
            }
        }
    }

    &__title {
        margin-bottom: $site-spacing/2;
    }

    &__excerpt {
        margin: 0 0 $site-spacing*2 0;
    }

    &__cta {
        margin-top: auto;

        .icon {
            position: relative;
            top: 5px;
        }
    }
}
