.markdown {
    h2, h3 {
        @apply font-black mb-6;
    }

    h2 {
        @apply text-3xl;

        &:not(:first-child) {
            @apply pt-12;
        }
    }

    h3 {
        @apply text-2xl;

        &:not(:first-child) {
            @apply pt-4;
        }
    }

    p {
        &:not(:last-child) {
            @apply mb-8 text-gray-800;
        }

        a {
            @apply text-red-700;

            &:hover {
                @apply text-red-900;
            }
        }
    }

    ul:not(:last-child) {
        @apply mb-12;
    }

    li:not(:last-child) {
        @apply mb-2;
    }

    pre {
        @apply mb-8;

        & > code {
            @apply p-12 text-base leading-loose overflow-x-scroll;
        }
    }

    p > code {
        @apply text-xl bg-gray-200 px-2 py-1;
    }

    hr {
        height: 1px;
        width: 100px;

        @apply bg-gray-400 mx-0 mt-16;
    }
}
