name: CI

on: [push]

jobs:
  tests:

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v1

      - name: Setup PHP
        uses: shivammathur/setup-php@v1
        with:
            php-version: '7.4'
            coverage: none

      - name: Copy environment file
        run: php -r "file_exists('.env') || copy('.env.example', '.env');"

      - name: Install PHP dependencies
        run: composer install -q --no-ansi --no-interaction --no-scripts --no-suggest --no-progress --prefer-dist

      - name: Install NPM dependencies
        run: yarn install

      - name: Generated assets
        run: npm run production

      - name: Generate key
        run: php artisan key:generate

      - name: Check environment files are in sync
        run: php artisan env:check

      - name: Cache bootstrap files
        run: php artisan optimize

      - name: Cache config files
        run: php artisan config:cache

      - name: Cache views
        run: php artisan view:cache

      - name: Run PHPUnit
        run: vendor/bin/phpunit

      - name: Upgrade Chrome Driver
        run: php artisan dusk:chrome-driver 78

      - name: Start Chrome Driver
        run: ./vendor/laravel/dusk/bin/chromedriver-linux > /dev/null 2>&1 &

      - name: Run Laravel Server
        run: php artisan serve > /dev/null 2>&1 &

      - name: Run Laravel Dusk
        run: php artisan dusk --stop-on-error --stop-on-failure

      - name: PHP Insights
        run: php artisan insights --no-interaction --min-quality=90 --min-complexity=95 --min-architecture=90 --min-style=95 --format=github-action

      - name: PHP Linting
        run: npm run lint:php

      - name: JavaScript Linting
        run: npm run lint:js

      - name: CSS Linting
        run: npm run lint:scss

      - name: Check Bundle size
        run: npm run test:size
